nav {
  width: 300px;
  position: fixed;
  top: 90px;
  left: 20px;
  padding: 30px;
  box-sizing: border-box;
  opacity: .1;
  transition: all .8s ease;
}
nav:hover {
  opacity: 1;
  transition: all .1s ease;

}
nav > ul > li:first-of-type {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
nav li {
  font-size: 16px;
  color: #121212;
  margin: 10px;
  line-height: 20px;
}
nav ul {
  margin-top: 20px;
  list-style-type: none;
}
nav a, nav a:visited {
  color: #209FAB;
  text-decoration: none;
}
nav a:active, nav a:hover {
  color: #F79F60;
  text-decoration: none;
}
